<%- include("../admin/layouts/adminHeader.ejs") %> <%-
include("../admin/layouts/adminSidebar.ejs") %> <%-
include("../admin/layouts/adminNavbar.ejs") %>

<div class="container" style="margin-top: 100px">
  <h2>Create Coupon</h2>
  <form action="/admin/add-coupon" method="POST" id="couponForm">
    <div class="mb-3">
      <label for="code" class="form-label">Coupon Code</label>
      <input
        type="text"
        class="form-control"
        id="code"
        name="code"
        style="color: white"
        required
      />
      <div class="error-message" style="color: red" id="codeError"></div>
    </div>
    <div class="mb-3">
      <label for="discountPercentage" class="form-label"
        >Discount Percentage</label
      >
      <input
        type="number"
        class="form-control"
        id="discountPercentage"
        name="discountPercentage"
        style="color: white"
        required
      />
      <div class="error-message" style="color: red" id="discountError"></div>
    </div>
    <div class="mb-3">
      <label for="minimum" class="form-label">Minimum Amount</label>
      <input
        type="number"
        class="form-control"
        id="minimum"
        name="minimum"
        style="color: white"
        required
      />
      <div class="error-message" style="color: red" id="minError"></div>
    </div>
    <div class="mb-3">
      <label for="startDate" class="form-label">Start Date</label>
      <input
        type="date"
        class="form-control"
        id="startDate"
        style="color: white"
        name="startDate"
        required
      />
      <div class="error-message" style="color: red" id="startDateError"></div>
    </div>
    <div class="mb-3">
      <label for="expiryDate" class="form-label">Expiry Date</label>
      <input
        type="date"
        class="form-control"
        id="expiryDate"
        style="color: white"
        name="expiryDate"
        required
      />
      <div class="error-message" style="color: red" id="expiryDateError"></div>
    </div>
    <button type="submit" class="btn btn-primary">Create Coupon</button>
  </form>
</div>

<script>
  const couponForm = document.getElementById("couponForm");

  couponForm.addEventListener("submit", function (event) {
    event.preventDefault();
    if (validateForm()) {
      this.submit();
    }
  });

  function validateForm() {
    const codeInput = document.getElementById("code");
    const discountInput = document.getElementById("discountPercentage");
    const startDateInput = document.getElementById("startDate");
    const expiryDateInput = document.getElementById("expiryDate");
    const minimumInput = document.getElementById('minimum');

    const codeError = document.getElementById("codeError");
    const discountError = document.getElementById("discountError");
    const startDateError = document.getElementById("startDateError");
    const expiryDateError = document.getElementById("expiryDateError");
    const minimumError = document.getElementById('minError');

    codeError.textContent = "";
    discountError.textContent = "";
    startDateError.textContent = "";
    expiryDateError.textContent = "";
    minimumError.textContent = "";

    let isValid = true;

    if (codeInput.value.trim() === "") {
      codeError.textContent = "Coupon Code is required";
      isValid = false;
    }

    if (
      discountInput.value === "" ||
      discountInput.value < 10 ||
      discountInput.value > 80
    ) {
      discountError.textContent =
        "Discount Percentage must be between 10 and 80";
      isValid = false;
    }

    if (startDateInput.value.trim() === "") {
      startDateError.textContent = "Start Date is required";
      isValid = false;
    } else {
      const startDate = new Date(startDateInput.value);
      const currentDate = new Date();
      if (startDate < currentDate) {
        startDateError.textContent =
          "Start Date cannot be before the current date";
        isValid = false;
      }
    }

    if(minimumInput.value.trim() === '') {
      minimumError.textContent = 'Minimum amount required'
    }else{
      if(minimumInput.value < 1999) {
        minimumError.textContent = 'Minimum amount should be above 1999'
      }
    }

    if (expiryDateInput.value.trim() === "") {
      expiryDateError.textContent = "Expiry Date is required";
      isValid = false;
    } else {
      const startDate = new Date(startDateInput.value);
      const expireDate = new Date(expiryDateInput.value);
      const currentDate = new Date();
      if (expireDate <= startDate) {
        expiryDateError.textContent = "Expiry Date must be after the start date";
        isValid = false;
      }
    }

    return isValid;
  }
</script>

<%- include("../admin/layouts/adminFooter.ejs") %>
