<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Login</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/adminassets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/adminassets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/adminassets/css/style.css">
    <!-- End layout styles -->
    <!-- <link rel="shortcut icon" href="/adminassets/images/favicon.png" /> -->
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Login</h3>
                <form method="post" action="/admin/login">
                  <div class="form-group">
                    <label>email *</label>
                    <input type="email" name="email" id="email" class="form-control p_input">
                  </div>
                  <div class="form-group">
                    <label>Password *</label>
                    <input type="password" name="password" id="password" class="form-control p_input">
                  </div>
                  <div>
                    <% if(typeof message!== 'undefined' ) {  %>
                        <p class="text-danger">
                            <%= message %>
                        </p>
                    <% } %>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/adminassets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/adminassets/js/off-canvas.js"></script>
    <script src="/adminassets/js/hoverable-collapse.js"></script>
    <script src="/adminassets/js/misc.js"></script>
    <script src="/adminassets/js/settings.js"></script>
    <script src="/adminassets/js/todolist.js"></script>
    <!-- endinject -->
  </body>
</html>