<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FLAGFASHIONED</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/userassets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/userassets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/userassets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/userassets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/userassets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/userassets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/userassets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/userassets/css/style.css" type="text/css">
    <link rel="icon" href="/userassets/img/e-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
   
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/login">Sign in</a>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="/wishlist"><img src="/userassets/img/icon/heart.png" alt=""></a>
            <a href="/cart"><img src="/userassets/img/icon/cart.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div> 

    <!-- Header Section Begin -->
    <header class="header">
        <% if (!session) { %>
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="/login">Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>        
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo" style="padding: 0;">
                    <a href="/"><img src="/userassets/img/e-logo.png" style="height: 100px;" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="/cart">Shopping Cart</a></li>
                                <li><a href="/profile">Profile</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="/wishlist"><img src="/userassets/img/icon/heart.png" alt=""></a>
                    <a href="/cart"><img src="/userassets/img/icon/cart.png" alt=""> <span>0</span></a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
    <!-- Header Section End -->
